---
layout: default
---

<article class="page">

  <div class="entry">
    {{ content }}
  </div>
  
  <!-- div class="entry"> -->
  {% for p in page.path %}
    {% if p.path contains 'assets/files/redacao' %}
        <p>
        <!-- {{image.path}} - {{image.modified_time}} -->
        <!-- <img src="{{site.baseurl}}{{image.path}}"> -->
        <a href="{{site.baseurl}}{{image.path}}">{{image.name}} - {{image.modified_time}}</a>
        </p>
    {% endif %}
  {% endfor %}
  <!-- </div> -->
  
</article>
