---
layout: aulas
---

<article class="page">

  <!-- <h1>{{ page.title }}</h1> -->

  <div class="entry">
    {{ content }}
  </div>
  
  <!-- div class="entry"> -->
  {% for image in site.static_files %}
    {% if image.path contains 'assets/files/interpretacao' %}
        <p>
        <!-- {{image.path}} - {{image.modified_time}} -->
        <!-- <img src="{{site.baseurl}}{{image.path}}"> -->
        <a href="{{site.baseurl}}{{image.path}}">{{image.name}} - {{image.modified_time}}</a>
        </p>
    {% endif %}
  {% endfor %}
  <!-- </div> -->
  
</article>
